@model List<string>
@{
    ViewData["Title"] = "Carga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/CargaMasiva.js"></script>



@switch (ViewBag.Result)
{
    case 1:
        <div class="alert alert-primary" role="alert">
            <div class="text-center" style="font-size:x-large">
                ¡Se han insertado correctamente tus registros!
            </div>
        </div>
        <div class="text-center">
            <h1>Puedes descargar tus archivos procesados</h1>
            <a class="btn btn-dark" href="@Url.Action("DescargarArchivos", "CargaMasiva")">Descargar</a>
            <a class="btn btn-info" href="@Url.Action("Carga", "CargaMasiva")">Cargar Nuevo</a>
        </div>
        break;
    case 2:
        <div class="alert alert-warning" role="alert">
            <div class="text-center" style="font-size:x-large">
                Algunos registros no cumplen con el formato valido
            </div>
        </div>
        <table class="table table-dark table-hover table-bordered">
            <thead class="table-secondary">
                <tr class="text-center">
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                @foreach (string error in Model)
                {
                    <tr class="text-center">
                        <td>@error</td>
                    </tr>
                }
            </tbody>
        </table>
        break;
    case 3:
        <div class="alert alert-danger" role="alert">
            <div class="text-center" style="font-size:x-large">
                Tu archivo no ha podido ser procesado
                Ingresa un archivo valido
            </div>
        </div>
        break;
    default:
        <h1 class="text-center">Carga Masiva</h1>
        <h5 class="text-center">Selecciona un archivo valido para que sea procesado y validado</h5>
        <hr />
        @using (Html.BeginForm("Carga", "CargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" class="form-control" name="file" id="inpxls" onchange="validateFile()" required />

            <br />
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a><input type="submit" value="Procesar e insertar" class="btn btn-success col-md-12" id="xlsx" /></a>
                </div>
            </div>
        }

        break;
}
